body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    overflow: hidden;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
}

.logo {
    float: left;
    height: 50px;
    padding: 0;
    margin-left: 10px;
    margin-top: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    float: right;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    margin-top: 10px;
    color: seashell;
}

.mission-container {
    display: inline-flex;
    height: 700px;
    width: 1200px;
    background-image: url(./img/img-mission-background.jpeg);
    justify-content: center;
    align-items: center;
    margin-top: 69px;
}

.mission-statement {
    width: 100%;
    background-color: black;
}


.featured-heading {
    width: 100%;
    margin-top: 69px;
}

.featured-container {
    display: inline-flex;
    width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-box {
    margin: 0 15px;
}

.featured-box img {
    height: 200px;
    width: 300px;
}

.locations-container {
    display: inline-flex;
    height: 500px;
    width: 1200px;
    background-image: url(./img/img-locations-background.jpeg);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 69px;
}

.locations-container h2 {
    margin-bottom: 15px;
    margin-top: 69px;
    margin-left: 500px;
    margin-right: 500px;
}

.locations-box {
    height: 250px;
    width: 300px;
    background-color: black;
    margin: 0 20px;
    text-align: center;
}

.contact {
    height: 200px;
}

.copyright {
    margin-left: 20px;
}


